@page
@{
}

<div class="text-center">
    <h2>Thanks! Your purchase makes a difference in taking down the Amazon empire!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>